/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
    
}

body {
    min-height: 100vh;
    display: flex;
  flex-direction: column;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */

html {
    height: -webkit-fill-available;  
}

body {
    background-color: #fff;
    min-height: 100vh;
    min-height: -webkit-fill-available;

}

nav {
    background-color: darkgray;
    border-bottom: 2px solid black;
    height:5vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    padding: 0 2em 0 2em;
}

container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    padding:3em;
}


.button {
    border-radius: ;
}
.box {
    border: 2px solid black;
    padding: 2em 3em 2em 3em;
    margin: 2em 2em 2em 2em;
    max-width: 25%;
    position:relative;
}
.more-button{
    padding: 0.5em 2em 0.5em 2em;
    position:absolute;
    overflow:hidden;
    right:-2em;
    bottom: -1em;
    border-radius: 3px;
   }

footer {
    background-color: darkgray;
    margin-top: auto;
    height: 5vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .box {max-width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .box {max-width: 40%;}
}

